# General
.DS_Store
.AppleDouble
.LSOverrideS
commit.sh
push.sh

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Kext Development related files
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
DerivedData
xcuserdata
Research/
clang32/
Tools/
build

# Private Project Extensions (PEs)
